/*==================
 LATEST COURSES SECTION
====================*/
#mu-latest-courses {
  background-color: #d3d3d347;
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;

  img {
    background-color: #fff;
    border: 2px solid #888;
    border-radius: 50%;
    margin: 10px 5px 5px;
    padding: 0;
    width: 60px;
  }

  a {
    color: $base_color;
  }

  
}

#mu-latest-courses .mu-latest-courses-area {
  display: inline;
  float: left;
  width: 100%;
}

#mu-latest-courses .mu-latest-courses-area .mu-title h2 {
  color: $base_color;
}

#mu-latest-courses .mu-latest-courses-area .mu-title p {
  color: $base_color;
}

#mu-latest-courses .mu-latest-courses-area .mu-latest-courses-content {
  display: inline;
  float: left;
  margin-top: 50px;
  width: 100%;
}

#mu-latest-courses .mu-latest-courses-area .mu-latest-courses-content .slick-slide {
  outline: none;
}

#mu-latest-courses .mu-latest-courses-area .mu-latest-courses-content .slick-dots li {
  background-color: #fff;
  border-radius: 4px;
  height: 8px;
  width: 20px;
}

#mu-latest-courses .mu-latest-courses-area .mu-latest-courses-content .slick-dots li button {
  display: none;
}

.mu-latest-course-single {
  background-color: #fff;
  display: inline;
  float: left;
  width: 100%;
}

.mu-latest-course-single .mu-latest-course-img {
  display: inline;
  float: left;
  width: 100%;
}

.mu-latest-course-single .mu-latest-course-img a {
  display: block;
}

.mu-latest-course-single .mu-latest-course-img a img {
  width: 100%;
}

.mu-latest-course-single .mu-latest-course-img .mu-latest-course-imgcaption {
  background-color: #f8f8f8;
  display: inline;
  float: left;
  padding: 10px 15px;
  width: 100%;
}

.mu-latest-course-single .mu-latest-course-img .mu-latest-course-imgcaption a {
  display: inline-block;
  float: left;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mu-latest-course-single .mu-latest-course-img .mu-latest-course-imgcaption span {
  float: right;
}

.mu-latest-course-single .mu-latest-course-img .mu-latest-course-imgcaption span i {
  margin-right: 5px;
}

.mu-latest-course-single .mu-latest-course-single-content {
  display: inline;
  float: left;
  width: 100%;
  padding: 15px;
}

.mu-latest-course-single .mu-latest-course-single-content h4 {
  color: #333;
  line-height: 1.4;
}

.mu-latest-course-single .mu-latest-course-single-content h4 a {
  color: #333;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mu-latest-course-single .mu-latest-course-single-content p {
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 1.7;
}

.mu-latest-course-single .mu-latest-course-single-content .mu-latest-course-single-contbottom {
  border-top: 1px solid #ccc;
  display: inline;
  float: left;
  margin-top: 15px;
  padding-top: 15px;
  width: 100%;
}

.mu-latest-course-single .mu-latest-course-single-content .mu-latest-course-single-contbottom .mu-course-details {
  display: inline-block;
  float: left;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mu-latest-course-single .mu-latest-course-single-content .mu-latest-course-single-contbottom .mu-course-details:hover, .mu-latest-course-single .mu-latest-course-single-content .mu-latest-course-single-contbottom .mu-course-details:focus {
  color: #333;
}

.mu-latest-course-single .mu-latest-course-single-content .mu-latest-course-single-contbottom .mu-course-price {
  display: inline-block;
  float: right;
}