/*==================
 FEATURES SECTION
====================*/
#mu-features {
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
  background-color: #d3d3d347;

  .mu-features-area {
    display: inline;
    float: left;
    width: 100%;

    .mu-features-content {
      display: inline;
      float: left;
      margin-top: 50px;
      width: 100%;

      .mu-single-feature {
        display: inline;
        float: left;
        margin-bottom: 30px;
        margin-top: 30px;
        margin-left: 30px;
        padding: 0 10px;
        width: 100%;
        min-height: 25rem;
        background-color: white;
        border-radius: 5%;
        box-shadow: 10px 10px 10px darkgrey;

         span {
          font-size: 25px;
          padding: 10px 15px;
        }
        
        img {
          width: 2rem;
          height: 2rem;
          margin-top: 1rem;
        }

         h4 {
          margin-bottom: 15px;
          margin-top: 15px;
          padding-bottom: 10px;
          position: relative;
        } 

         h4:after {
          background-color: #333;
          content: '';
          left: 0;
          right: 0;
          bottom: 0;
          height: 2px;
          width: 70px;
          position: absolute;
          vertical-align: sub;
        }
        
         p {
          font-size: 15px;
          letter-spacing: 0.3px;
          line-height: 1.7;
          margin: 10px;
        }

       > a {
          border: 1px solid #888;
          display: inline-block;
          font-size: 14px;
          margin: 10px;
          padding: 5px 10px;
          text-transform: uppercase;
          -webkit-transition: all 0.5s;
          transition: all 0.5s;
          text-decoration: none;
          color: #333333;
        }


      }


    }

  }
}











