$assetsPath: "../assets/images/";

#mu-hero {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
  url("../assets/images/mentoring/mentoring.jpg");
  height: 70vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  color: wheat;
  text-align: left;

  h3 {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
  }
    h4 {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
  }

  p {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  
}

.mu-hero-title {
  font-size: 3rem;
  font-weight: bold;
  color: wheat;
  text-shadow: 2px 2px 2px #d3d3d347;
  text-align: left;
  padding: 1rem;
}