/*==================
 SERVICE SECTION  background-color: #FDF6D7;
====================*/
#mu-service{
	display: inline;
	float: left;	
	margin-top: -80px;
	width: 100%;
  border-radius: 2rem;
	z-index: 1;

		img {
			width: 3rem;
			height: 3rem;
		}

	.mu-service-area{
		display: inline;
		float: left;
		width: 100%;
    border-radius: 1rem;
    background-color: #FDF6D7;

		.mu-service-single{
			color: $base_color;
			display: inline;
			float: left;
			padding: 35px 25px;
			text-align: center;
			width: 33%;
			
			span{
				font-size: 30px;
			}
			h3{
				font-size: 25px;

			}
			p{
				font-weight: lighter;

			}
		}
	}
}